# Development tools
build==1.2.2.post1

# Documentation
sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-napoleon==0.7
rst2pdf==0.103.1

# Testing dependencies
pytest==8.4.1
pytest-cov==6.2.1

# Code quality
black==25.1.0
mypy==1.16.1